
.calculator {
    background-color: #6495ed;
    position: fixed;
    width: 25rem !important;

    input {
        width: 8rem;
    }
}

.title {
    background-color: #145ee9; 
}

.iconClose {
    background-color: #dd1515;  
}