/* autoprefixer grid: on */

.menu {
    font-size: 1.2rem;
    li {
        list-style: none;
    }
}

.hide {
    display: none;
}

.inline {
    display: inline-block;
}

.show {
    display: inline-block;
}

.selected {
    background-color: #00ffff;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    text-align: center;
    left: 0;
    top: 0;

    .dialog {   
        z-index: 200; 
        margin: 10rem auto;
        display: inline-block; 
        background-color: rgb(157, 189, 44);
        padding: 1.5rem;
    }

    .readonly{
        font-weight: bold;
    }
    .editable{
        outline-color: #00ffff;
        outline-width: 0.2rem;
        outline-style: groove; 
    }

}